<%
    title("A medicina Ocular")
    area("medicinaOcular")
%>
<section class="conteudo clearfix">
  <div class="container">
    <h1>A medicina ocular</h1>
    <article>
      <p><strong>A Medicina Ocular</strong> foi fundada em 2006, mas sua fundadora, a Dra. Paula Ragnini já atua na área há mais de 20 anos.<br/ >
      A clínica tem como essência cuidar da sua visão para que você possa desfrutar dos bons momentos da vida. Para isso, procura sempre aperfeiçoar-se com cursos, workshops, seminários por todo mundo, trazendo o que há de mais moderno na medicina contemporânea. Pois sabemos que a vida passa diante de seus olhos.  </p>
      <%= image_tag "olho.jpg", title: "Medicina Ocular", alt: "olho" %>
    </article>
  </div>
</section>
