<%
    title("A medicina Ocular")
    area("medicinaOcular")
%>
<section class="conteudo clearfix">
  <div class="container">
    <h1>A medicina ocular</h1>
    <article>
      <p><strong>A Medicina Ocular</strong> existe há 7 anos, mas a carreira da Dra Paula Ragnini já tem mais de 20 anos de dedicação a área da oftalmologia.<br/ >
      A Dra. Paula Ragnini chegou em Rondônia há mais de 13 anos, e foi durante muitos anos a única mulher a fazer tratamentos e diagnósticos oftalmológicos. Sempre buscando se aperfeiçoar na área, com cursos, workshops, seminários pelo mundo afora. Para aperfeiçoar e aprender sobre técnicas e novas tecnologias que beneficiam e otimizam o tratamento oftalmológico.</p>
      <%= image_tag "olho.jpg", title: "Medicina Ocular", alt: "olho" %>
    </article>
  </div>
</section>
