<%
  title("Contato")
  area("contato")
%>
<section class="conteudo clearfix">
  <div class="container clearfix">
    <h1>Contato</h1>
    <section class="form-container">
      <form class="agendar" action="enviar" enctype="application/x-www-form-urlencoded" method="post">
        <fieldset>
          <ul>
            <li>
              <legend>agendar</legend>
              <label for="nome">Nome</label>
              <input name="nome" type="text" maxlength="25" />
            </li>
            <li>
              <label for="telefone">Tel.</label>
              <input class="fone" name="telefone" type="text" />
            </li>
            <li>
              <label for="email">E-mail</label>
              <input class="email" name="email" type="text" />
            </li>
            <li>
              <label for="mensagem">Mensagem</label>
              <textarea name="mensagem" type="text"></textarea>
            </li>
            <li class="ultimo">
              <button name="enviar" type="submit" value="enviar">Enviar</button>
            </li>
          </ul>
        </fieldset>
      </form>
    </section>
    <section class="endereco">
      <a href="http://goo.gl/maps/kVtHo" class="ir blank" title="Clique e veja no mapa">Clique</a>
      <p>Rua Herbert Azevedo, 1268<br />
      Olaria - Porto Velho - RO<br />
      Tel: (69) 3223-0330</p>
    </section>
  </div>
</section>
