<%
    title("Doenças oculares")
    area("doencasOculares")
%>
<section class="conteudo clearfix">
  <div class="container clearfix">
    <h1>Doenças Oculares</h1>
    <article class="accordion">
    <h3>Descolamento da Retina<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>O descolamento de retina é uma separação das camadas da retina, e é considerada uma emergência em oftalmologia.</p>
        <%= image_tag "olho-desenho.jpg", title: "Descolamento da retina", alt: "Descolamento da retina" %>
      </section>
    </article>
    <article class="accordion">
      <h3>Ambliopia<span class="ir fechado">icone</span></h3>
        <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Catarata<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>A catarata é a principal causa da cegueira reversível.</p>
        <p>Na Medicina Ocular, o paciente que realiza a operação da catarata tem recuperação rápida. Em poucos dias volta a enxergar normalmente, com plena nitidez, podendo até enxergar sem óculos dependendo da lente implantada.</p>
        <p>A cada dia o brasileiro recorre com mais frequência à cirurgia de catarata. Ao todo, de acordo com informações do Conselho Brasileiro de Oftamologia (CBO), já são mais de 500 mil procedimentos ao ano.</p>
        <p>Além disso, lentes intraoculares proporcionam ao paciente visão muito próxima do natural, sem desconforto, com total resgate de qualidade de vida.</p>
        <p>A catarata é a principal causa da cegueira reversível.</p>
        <%= image_tag "catarata.jpg", title: "Catarata", alt: "catarata" %>
      </section>
    </article>
    <article class="accordion">
      <h3>Lentes de contato<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Moscas volantes flashes<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Uveítes<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Córnea<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Olho seco<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Você tem a sensação de que alguém jogou areia no seu olho? E que, por causa disso ele não para de coçar e arder? Preste atenção! Se essa sensação persistir, você pode estar com a Síndrome do Olho Seco. A doença caracteriza-se, ainda, por ardor, secura, sensibilidade à luz, visão embaçada e vermelhidão.</p>
        <p>Mesmo tendo esses incômodos, quem sofre de olho seco nem sempre procura ajuda com o oftalmologista, Aí a situação pode se agravar, acarretando em situações mais sérias, entre elas o surgimento de infecções e úlceras na córnea.</p>
        <%= image_tag "olho-seco.jpg", title: "Olho seco", alt: "olho seco" %>
      </section>
    </article>
    <article class="accordion">
      <h3>Degeneração macular<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion ultimo">
      <h3>Lentes intraoculares<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
        <%= image_tag "lentes.jpg", title: "Lentes", alt: "lentes" %>
      </section>
    </article>
  </div>
</section>
