<%
    title("Doenças oculares")
    area("doencasOculares")
%>
<section class="conteudo clearfix">
  <div class="container clearfix">
    <h1>Doenças Oculares</h1>
    <article class="accordion">
    <h3>Descolamento da Retina<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
        <%= image_tag "olho-desenho.jpg", title: "Descolamento da retina", alt: "Descolamento da retina" %>
      </section>
    </article>
    <article class="accordion">
      <h3>Ambliopia<span class="ir fechado">icone</span></h3>
        <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Catarata<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
        <%= image_tag "catarata.jpg", title: "Catarata", alt: "catarata" %>
      </section>
    </article>
    <article class="accordion">
      <h3>Lentes de contato<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Moscas volantes flashes<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Uveítes<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Córnea<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Olho seco<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
        <%= image_tag "olho-seco.jpg", title: "Olho seco", alt: "olho seco" %>
      </section>
    </article>
    <article class="accordion">
      <h3>Degeneração macular<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion ultimo">
      <h3>Lentes intraoculares<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
        <%= image_tag "Lentes.jpg", title: "Lentes", alt: "lentes" %>
      </section>
    </article>
  </div>
</section>
