<%
    title("Doenças oculares")
    area("doencasOculares")
%>
<section class="conteudo clearfix">
  <div class="container clearfix">
    <h1>Doenças Oculares</h1>
    <article class="accordion">
    <h3>Descolamento da Retina<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>O descolamento de retina é uma separação das camadas da retina, e é considerada uma emergência em oftalmologia.</p>
        <%= image_tag "olho-desenho.jpg", title: "Descolamento da retina", alt: "Descolamento da retina" %>
      </section>
    </article>
    <article class="accordion">
      <h3>Ambliopia<span class="ir fechado">icone</span></h3>
        <section style="display:none">
        <p>É a baixa visão que não é corrigida com óculos. Ambliopia aparece em decorrência de obsctáculos ao desenvolvimento da visão. O olho amblíope não apresenta um amadurecimento normal da visão, e é popularmente conhecido como "olho preguiçoso".</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Catarata<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>A catarata é a principal causa da cegueira reversível.</p>
        <p>O cristalino é a lente natural do olho. Quando está saudável, é transparente e flexível, mas quando temos cararata, ele se torna opaco, porque distorce e embaça a visão. Na Medicina Ocular, o paciente que realiza a operação da catarata tem recuperação rápida. <b>Em poucos dias volta a enxergar normalmente</b>, com plena nitidez, podendo até enxergar sem óculos dependendo da lente implantada.</p>
        <p>A cada dia o brasileiro recorre com mais frequência à cirurgia de catarata. Ao todo, de acordo com informações do Conselho Brasileiro de Oftamologia (CBO), já são mais de 500 mil procedimentos ao ano.</p>
        <p>Além disso, lentes intraoculares proporcionam ao paciente visão muito próxima do natural, sem desconforto, com total <b>resgate de qualidade de vida</b>.</p>
        <p><a href="simulador" title="Simulador">Clique aqui e veja no simulador.</a></p>
        <%= image_tag "catarata.jpg", title: "Catarata", alt: "catarata" %>
      </section>
    </article>
    <article class="accordion">
      <h3>Lentes de contato<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Trata-se de uma prótese, que está em contato com os olhos. Por isso, é importante uma avaliação oftalmológica detalhada antes de seu uso, pois é importante um diagnóstico preciso para que seja verificado o diâmetro e a curva mais indicada aos olhos de cada paciente.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Moscas volantes flashes<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>A percepção de pequenas manchas ou nuvens movimentando-se dentro do campo de visão, constituem as chamadas "moscas volantes". Geralmente são vistas quando se olha para um fundo claro, como uma parede branca ou um céu azul. Na realidade, as moscas volantes são minúsculos grumos de depósitos ou células dentro do corpo vítrio, o fluido gelatinoso, que preenche o interior do olho.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Uveítes<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Dentro do olho, existe um conjunto de estruturas que são a íris (que é a parte colorida dos olhos), corpo ciliar (produz o humor aquoso, líquido que preenche a parte anterior do olho), e a coróide (parte vascular situada adjacente à retina).</p>
        <p>Estas três estruturas compõem o trato uveal ou a úvea. As uveítes são basicamente a inflamação de uma ou mais dessas estruturas. O nervo óptico e a retina também podem ser afetados.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Córnea<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p> A córnea é uma estrutura transparente e curva, localizada na porção anterior do globo ocular (na superfície do olho). Portanto, a córnea saudável deve permitir a passagem de luz através dela (deve ser transparente). Além de ser transparente, a córnea normal apresenta uma curvatura capaz de ajudar na formação da imagem na retina (focar a imagem, melhorando sua nitidez). </p>
      </section>
    </article>
    <article class="accordion">
      <h3>Olho seco<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Você tem a sensação de que alguém jogou areia no seu olho? E que, por causa disso ele não para de coçar e arder? Preste atenção! Se essa sensação persistir, você pode estar com a Síndrome do Olho Seco. A doença caracteriza-se, ainda, por ardor, secura, sensibilidade à luz, visão embaçada e vermelhidão.</p>
        <p>Mesmo tendo esses incômodos, quem sofre de olho seco nem sempre procura ajuda com o oftalmologista, Aí a situação pode se agravar, acarretando em situações mais sérias, entre elas o surgimento de infecções e úlceras na córnea.</p>
        <%= image_tag "olho-seco.jpg", title: "Olho seco", alt: "olho seco" %>
      </section>
    </article>
    <article class="accordion">
      <h3>Degeneração macular<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Ocorre quando a mácula (um ponto central que fica na retina, responsável pela visão mais detalhada) é afetada. Exceto pela catarata a degeneração da mácula é a causa mais comum de cegueira em pessoas com mais de 50 anos.</p>
      </section>
    </article>
    <article class="accordion ultimo">
      <h3>Lentes intraoculares<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>A lentre intraocular é introduzida dobrada ou enrolada na córnea por um micro-orifício de 2,5 milímetros, sem necessidade de pontos ou suturas. Ela só será aberta por completo quando estiver posicionada no local exato  dentro do olho. A cirurgia é rápida, indolor e no dia seguinte o paciente já pode retomar boa parte de suas atividades normais. Em menos de uma semana, estará enxergando livre do uso de óculos.</p>
        <%= image_tag "lentes.jpg", title: "Lentes", alt: "lentes" %>
      </section>
    </article>
  </div>
</section>
