<%
  title("Dúvidas frequentes")
  area("duvidasFrequentes")
%>
<section class="conteudo clearfix">
  <div class="container clearfix">
    <h1>Dúvidas frequentes</h1>
    <article class="accordion">
      <h3>O olho todo é retirado na cirurgia de catarata?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>De forma alguma. O olho permanece intacto, em sua posição normal. Isso é possível porque um instrumento cirúrgico extremamente delicado mantém o olho aberto. Assim, evita que o piscar interfira no trabalho do cirurgião.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>É usado laser para remover uma catarata?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <%= image_tag "catarata.jpg", title: "Catarata", alt: "catarata" %>
        <p>A técnica mais utilizada no mundo para remoção da catarata é o ultra-som. Os lasers são usados em Oftalmologia em cirurgias de glaucoma, retina e para correção de miopia.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Como o cirurgião remove a catarata?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>A cirurgia moderna para a retirada total da catarata é chamada de facoemulsificação e a sua invenção revolucionou a Oftalmologia. A cirurgia é feita sob anestesia tópica. Não é necessário anestesia geral. Através de uma incisão muito pequena, inferior a três milímetros, é inserido um aparelho que irá “quebrar” a catarata em vários pequenos pedaços e aspirá-la, como se fosse um aspirador de pó.  </p>
      </section>
    </article>
    <article class="accordion">
      <h3>O que é feito após a retirada da catarata ?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Imediatamente após a retirada, uma lente intraocular (LIO) é inserida através da mesma abertura da córnea. Essa lente entra toda dobrada e somente dentro do olho é que irá será desdobrada, adquirindo exatamente a sua posição correta.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>O tempo de recuperação após a cirurgia é demorado ?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>O pós-operatório da cirurgia de catarata é bem tranquilo. O paciente não fica internado, não precisa fazer dieta especial, não precisa evitar ler ou assistir jornal. Só terá que usar colórios prescritos de forma correta e evitar coçar os olhos.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Quanto tempo demora para a vista melhorar ?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Depende da lente implantada, o paciente já sai do hospital enxergando muito melhor. As cores são mais nítidas, mais claras. Já é possível ler aquelas letras pequenas que só antes só ficavam visíveis com o uso dos óculos.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>A catarata precisa estar "madura" para ser operada ?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Não. Com as técnicas modernas mesmo catarata nos estágios iniciais pode ser removida e substituída pela lente intraocular, para que não interfira mesmo nas atividades mais simples de uma pessoa. É que pelos métodos antigos, a catarata era retirada através de um corte grande no olho, e em um único pedaço. Para que isso ocorresse com sucesso era preciso que o centro da catarata estivesse bem duro. Ou seja, que ela estivesse “madura”. Hoje o pensamento é diferente.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Por que a moderna cirurgia utiliza a lente intraocular ?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>A lente intraocular irá substituir a nossa lente natural do olho que, com a idade, ficou opaca. Sem ela, seríamos obrigados a usar óculos bem grossos para enxergarmos razoavelmente.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Essa lente pode ser rejeitada pelo olho ?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Não. As lentes intraoculares são fabricadas em material inerte, que não sofre rejeição por parte do olho.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Existem diferentes tipos de lente intraocular ?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Sim. Existem lentes que corrigem para enxergar melhor de perto, de longe, dentre outras.</p>
      </section>
    </article>
    <article class="accordion">
      <h3 class="largo">Existe uma lente que permite ver de longe e de perto sem uso dos óculos após a cirurgia de catarata ?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
      <p>Sim. As lentes multifocais corrigem a visão para longe e para perto.</p>
      </section>
    </article>
  </div>
</section>
