Duvidas frequentes
<div class="picture_large">
  <%= image_tag "foto_home.png" %>
</div>

Dúvidas Frequentes

O olho todo é retirado na cirurgia de catarata?

De forma alguma. O olho permanece intacto, em sua posição normal. Isso é possível porque um instrumento cirurgíco extremamente delicado mantém o olho aberto. Assim, evita que o piscar interfira no trabalho do cirurgião.

É usado laser para remover uma catarata? 

A técnica mais utilizada para remoção de catarata é o ultra-som. Os lasers são usados em Oftalmologia em cirurgias de glaucoma, retina e para correção de miopia.


Como o Cirurgião remove a catarata?

A cirurgia moderna para a retirada total da catarata  é chamada de facoemulsificação e a sua invenção revolucionou a Oftalmologia. A cirurgia é feita sob anestesia tópica. Não é necessário anestesia geral. Através de uma incisão muito pequena, inferior a três milímetros, é inserido um aparelho que irá "quebrar" a catarata em vários pequenos pedaços e aspirá-la, como se fosse um aspirador de pó. 

O que é feito após a retirada da catarata?

Imediatamente após a retirada, uma lente intraocular (LIO) é inserida através da mesma abertura da córnea. Essa lente entra toda dobrada e somente dentro do olho é que será desdobrada, adquirindo exatamente  a sua posição correta.

O tempo de recuperação após a cirurgia é demorado?
O pós operatório da cirurgia de catarata  é bem tranquilo.  O paciente não fica internado, não precisa fazer dieta especial, não precisa evitar ler ou assistir jornal. Só terá que usar colírios prescritos de forma correta e evitar coçar os olhos.

Quanto tempo demora para a vista melhorar?

Depende de cada paciente  e do tipo de lente implantada. Podendo levar de 1 dia até no máximo de 4 dias.

A catarata precisa estar "madura" para ser operada?

Não. Com as técnicas modernas mesmo catarata nos estágios iniciais pode ser removida e substituída pela lente intraocular, para que não interfira mesmo nas atividades mais simples de uma pessoa. É que pelos métodos antigos, a catarata era retirada através de um corte grande no olho, e em um único pedaço. Para que isso ocorresse com sucesso era preciso que o centro da catarata estivesse bem duro. Ou seja, que ela estivesse "madura". Hoje o pensamento é diferente.

Por que a moderna cirurgia utiliza a lente intraocular?

A lente intraocular irá substituir a nossa lente natural do olho que, com a idade, ficou opaca. Sem ela, seríamos obrigados a usar óculos bem grossos para enxergarmos razoavelmente.

Essa lente pode ser rejeitada pelo olho?

Não. AS lentes intraoculares são fabricadas em material inerte, que não sofre rejeição por parte do olho.

Existem diferentes tipos de lente intraocular?

Sim existem diferentes tipos e diferentes fabricantes. Para cada caso em separado será feito uma análise pré-operatória para definir qual a melhor lente para cada caso.

Existe uma lente que permita ver de longe e de perto sem o uso dos óculos após a cirurgia da catarata?
Sim. Existem as lentes multifocais.




<%= link_to "Anterior", page_path('olhar')%>
<%= link_to "Proxima", page_path('contato')%>
