<%
  title("Dúvidas frequentes")
  area("duvidasFrequentes")
%>
<section class="conteudo clearfix">
  <div class="container clearfix">
    <h1>Dúvidas frequentes</h1>
    <article class="accordion">
      <h3>O olho todo é retirado na cirurgia de catarata?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
      <article class="accordion">
      <h3>É usado laser para remover uma catarata?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Como o cirurgião remove a catarata?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>O que é feito após a retirada da catarata ?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>O tempo de recuperação após a cirurgia é demorado ?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Quanto tempo demora para a vista melhorar ?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>A catarata precisa estar "madura" para ser operada ?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Por que a moderna cirurgia utiliza a lente intraocular ?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Essa lente pode ser rejeitada pelo olho ?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3>Existem diferentes tipos de lente instraocular ?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
    <article class="accordion">
      <h3 class="largo">Existe uma lente que permite ver de longe e de perto sem uso dos óculos após a cirurgia de catarata ?<span class="ir fechado">icone</span></h3>
      <section style="display:none">
        <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
      </section>
    </article>
  </div>
</section>
