<%
  title("Histórias")
  area("historias")
%>
<section class="conteudo clearfix">
  <div class="container clearfix">
    <h1>Histórias</h1>
    <% feed_textos.map do |texto| %>
      <article>
        <h2 class="img-larga"><%= raw texto.at_xpath("title").text %></h2>
        <p><%= raw texto.at_xpath("content:encoded").text %></p>
      </article>
    <% end %>
  </div>
</section>
