<%
  title("Hist贸rias")
  area("historias")
%>
<section class="conteudo clearfix">
  <div class="container clearfix">
    <h1>Hist贸rias</h1>
    <article>
      <h2>titulo da hist贸ria</h2>
      <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
    </article>
    <article>
      <h2>titulo da hist贸ria</h2>
      <p>Nulla placerat vestibulum ante, ut accumsan erat sollicitudin at. In id dictum mauris. Nunc a tortor neque, a feugiat nisl. Sed vitae massa sapien, eu dignissim lacus. Morbi commodo lobortis nunc nec mollis. Curabitur id ligula orci, non dignissim tellus. Nulla ac magna tortor, a semper sapien.</p>
    </article>
  </div>
</section>
