<div class="picture_large">
  <%= image_tag "foto_home.png" %>
</div>

<div class="simulador">
  <p class="subtitle purple">Simulador</p>
  <%= image_tag "olho.png" %>
  <p class="gray">Veja nosso simulador e entenda como as patologias afetam sua visão</p> 
</div>

<div class="vida right">
  <p class="subtitle-large gray">A vida passa diante dos seus olhos.</p>
</div>

<%= render partial: "pages/visite" %>

<%= link_to "Proxima", page_path('medicina_ocular')%>
