<%
  title("Home")
  area("home")
%>
<section class="conteudo clearfix">
  <div class="container clearfix">
    <section class="simulador-container">
      <h2>Simulador</h2>
      <a href="simulador"><%= image_tag "simulador.png", title: "Simulador", width: 186, height:"91", alt: "simulador" %></a>
      <p class="texto-pequeno">Veja nosso simulador e entenda como as patologias afetam a sua visão</p>
    </section>
    <hr />
    <h1>A vida passa diante dos seus olhos</h1>
  </div>
</section>
