Medicina Ocular
<div class="picture_large">
  <%= image_tag "foto_home.png" %>
</div>




A Medicina Ocular

A Medicina Ocular existe há 7 anos, mas a carreira da Dra Paula Ragnini já tem mais de 20 anos de dedicação a área da oftalmologia.
A Dra. Paula Ragnini chegou em Rondônia há mais de 13 anos, e foi durante muitos anos a única mulher a fazer tratamentos e diagnósticos oftalmológicos. Sempre buscando se aperfeiçoar na área, com cursos, workshops, seminários pelo mundo afora. Para aperfeiçoar e aprender sobre técnicas e novas tecnologias que beneficiam e otimizam o tratamento oftalmológico.

<%= link_to "Anterior", page_path('home')%>
<%= link_to "Proxima", page_path('doencas_oculares')%>
