Simulador
<div class="picture_large">
  <%= image_tag "foto_home.png" %>
</div>


Simulador
Todos temos dificuldades de conseguir detectar algum problema na visão, para lhe ajudar a rapidamente verificar o que pode estar lhe causando, desenvolvemos um dimulador de doenças maculares mais comuns. Caso você verifique que tem um dos sintomas, entre em contato conosco.

Visão Normal
Uma visão limpa é sempre bem nitida e sem interferências.


Catarata
É a opacificação (diminuição da transparência) do cristalino - a lente natural e transparente localizada atrás da íris - que ajuda a focalizar os raios de luz na retina. É uma doença comumente associada à pessoas com mais de 50 anos porém, crianças também são afetadas através da catarata congênita.

Glaucoma

Doença que causa danos no nervo óptico e alterações no campo visual, que vai se "fechando", podendo levar à cegueira. 
Na maioria dos casos há um aumento da pressão intra-ocular.

Degeneração Macular
Ocorrer quando a mácula (um ponto central que fica na retina, responsável pela visão mais detalhada) é afetada. Exceto pela catarata a degeneração da mácula é a causa mais comum de cegueira em pessoas com mais de 50 anos.

Retinopatia Diabética
A diabetes é uma doença complexa e progressiva que afeta os vazos sanguíneos do olho.
Um material anormal é depositado nas paredes dos vasos sanguíneos da retina, que é a região conhecida como "fundo do olho", causando estreitamento e as vezes bloqueio do vaso sanguíneo, além de enfraquecimento da sua parede o que ocasiona deformidades conhecidas como micro aneurismas.

Miopia
A miopia ocorre quando a imagem se forma num ponto anterior a da retina.
Míopes não enxergam nitidamente à distância.

Astigmatismo 
No astigmatismo há anormalidades na curvatura da córnea, que ocasionam vários pontos focais sobre a retina, deixando a imagem distorcida.


Hipermetropia
A Hipermetropia ocorre quando a imagem se forma num ponto atrás da retina.
Os hipermétropes tem dificuldade de enxergar de perto.

Presbiopia 
Dificuldade de visão ao perto, que é normalmente sentida por volta dos 45 anos.
Deve-se à perda da elasticidade progressiva do cristalino, fruto do desgaste pela idade.



<%= link_to "Anterior", page_path('medicina')%>
<%= link_to "Proxima", page_path('home')%>
