/* ********************************************************************
 * *  1 - HTML - Reset¬
 * *  ********************************************************************/

@font-face{
  font-family: 'freefonts';
  src: url('fontastique.ttf');
}

@font-face{
  font-family: 'Share';
  src: url('http://fonts.googleapis.com/css?family=Share');
}

html, body {
  height: 100%;
  padding:0;
  margin: 0;
  font-family:  "freefonts" , Calibri, Arial, Georgia, Verdana, Sans-Serif;
}

/*** Main content div ***/
#main {
  padding: 0 170px;
}

#content {
  z-index: 1; 
}

.picture_large {
  position: relative;
  margin-left: 14px;
  z-index: 2;
}

.container { width: 980px }

.subtitle  {
  font-size: 25px;
  font-family:  "freefonts" , Calibri, Arial, Georgia, Verdana, Sans-Serif;
}

.subtitle-large  {
  font-size: 27px;
  font-family:  "freefonts" , Calibri, Arial, Georgia, Verdana, Sans-Serif;
}

.purple {
  color: #962364; 
}

.gray {
  color: #979797; 
}

.right {
  float: right;
}

.left {
  float: left
}
/*** menu ***/
.menu ul {
  list-style: none;
  font-family:  'Share', cursive;
  font-weight: bold;
}

.menu {
  color: white; 
  position: relative;
  right: 200px;
  top: 10px;
  z-index: 3;
}

/*** footer ***/
#footer {
  background-image: url(rodape.png);
  background-repeat:repeat-x;  
  background-size: 100%;
  height: 220px;
  display: inline-block;
  clear: both;
  position: absolute;
  width: 100%;
}

/*** visite home ***/
.visite {
  background: #f5f5f7;
  clear: both;
}

/*** simulador home ***/
.simulador {
  text-align: center;
  margin: -75px 0 0 120px;
  width: 300px;
}

/*** vida home ***/
.vida {
  text-align: center;
  width: 550px;
  margin-top: -120px;
}

.vida span {
  font-size: 22px;
  color: #979797; 
}


