  <h3>Simulador</h3>
  <h3>Veja nosso simulador e entenda como as patologias afetam sua visão</h3>
  <h3>A vida passa diante dos seus olhos</h3>
  <h3>Visite-nos</h3>
  <h3>Agende sua consulta</h3>

<div id="details"></div>
  <div id="school-grades">
  </div>
</div>

<%= link_to "Proxima", page_path('medicina_ocular')%>
