<div class="picture_large">
  <%= image_tag "foto_home.png" %>
</div>

<div class="simulador">
  <p class="subtitle purple">Simulador</p>
  <%= image_tag "olho.png" %>
  <p class="gray">Veja nosso simulador e entenda como as patologias afetam sua visão</p> 
</div>


<div class="vida">
  <p class="subtitle-large gray">A vida passa diante dos seus olhos.</p>
</div>

<div class="visite">
  <p class="subtitle purple">Visite-nos</p>
  <p>Agende sua consulta</p>
</div>

<%= link_to "Proxima", page_path('medicina_ocular')%>
