<div class="picture_large">
  <%= image_tag "foto_home.png" %>
</div>

<div class="simulador">
  <h3>Simulador</h3>
  <%= image_tag "olho.png" %>
  <p>Veja nosso simulador e entenda como as patologias afetam sua visão</p> 
</div>


<div class="vida">
  <span>A vida passa diante dos seus olhos</span>
</div>

<div class="visite">
  <h3>Visite-nos</h3>
  <p>Agende sua consulta</p>
</div>

<%= link_to "Proxima", page_path('medicina_ocular')%>
