<footer>
  <div class="container">

    <%= render partial: "visite" if params[:id] == 'index' %>

    <section class="rodape">
      <p class="texto-pequeno">Todos os direitos reservados | Medicina Ocular &#174 </p>
      <div class="social">
        <a class="facebook ir blank"  href="http://www.facebook.com/pages/Medicina-Ocular/110691752356858" title="Home">Facebook</a>
      </div>
    </section>
  </div>
</footer>
