<header>
  <div class="container">
    <a href="index.html" title="Medicina Ocular">
      <%= image_tag "medicina-ocular-logo.png", title: "Medicina Ocular", width: 261, height:"93" %>
    </a>
    <nav>
      <ul>
        <li class="home"><a href="index.html" title="Home">Home</a></li>
        <li class="medicina-ocular"><a href="a-medicina-ocular.html" title="A Medicina Ocular">A Medicina Ocular</a></li>
        <li class="doencas-oculares"><a href="doencas-oculares.html" title="Doenças Oculares">Doenças Oculares</a></li>
        <li class="historias"><a href="historias.html" title="Histórias">Histórias</a></li>
        <li class="olhar"><a href="o-olhar.html" title="O Olhar">O Olhar</a></li>
        <li class="duvidas-frequentes"><a href="duvidas-frequentes.html" title="Dúvidas Frequentes">Dúvidas Frequentes</a></li>
        <li class="contato"><a href="contato.html" title="Contato">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>
