<header>
  <div class="container">
    <a href="index" class="logo" title="Medicina Ocular">
      <%= image_tag "medicina-ocular-logo.png", title: "Medicina Ocular", width: 261, height:"93" %>
    </a>
    <nav>
      <ul>
        <li class="home"><a href="index" title="Home">Home</a></li>
        <li class="medicina-ocular"><a href="a-medicina-ocular" title="A Medicina Ocular">A Medicina Ocular</a></li>
        <li class="doencas-oculares"><a href="doencas-oculares" title="Doenças Oculares">Doenças Oculares</a></li>
        <li class="historias"><a href="historias" title="Histórias">Histórias</a></li>
        <li class="olhar"><a href="o-olhar" title="O Olhar">O Olhar</a></li>
        <li class="duvidas-frequentes"><a href="duvidas-frequentes" title="Dúvidas Frequentes">Dúvidas Frequentes</a></li>
        <li class="contato"><a href="contato" title="Contato">Contato</a></li>
      </ul>
    </nav>
    <% if params[:id] == 'index' %>
      <p class="cuidados ir">Cuidados Oftalmológicos<a  href="cuidados.html" title="Cuidados">Veja mais</a></p>
      <div id="fade">
        <%= image_tag "bg-home.jpg", alt: "teste", title: "Medicina Ocular 1", width: 1024, height:"501" %>
        <%= image_tag "bg-olhar.jpg", alt: "teste", title: "Medicina Ocular 2", width: 1024, height:"501" %>
        <%= image_tag "bg-simulador.jpg", alt: "teste", title: "Medicina Ocular 3", width: 1024, height:"501" %>
      </div>
    <% end %>
  </div>
</header>
